<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>授权中心</title>
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../public/css/center/authorizationcenter.css"/>
</head>
<body>
<!-- <nav class="navbar navbar-dark bg-dark">
    <h3 class="title">授权中心</h3>
    <h5 class="title">Test</h5>
    <h5 class="title">Test</h5>
</nav> -->
<main class="container" role="main">
    <div class="jumbotron">
        <h1>授权中心</h1>
        <p class="lead">将允许应用Test拥有以下权限： </p>
        <p class="lead"><i class="glyphicon glyphicon-user"></i>获取你的用户信息 </p>
        <div class="pull-right">
            <button type="button" class="btn btn-info">允许</button>
            <button type="button" class="btn btn-info">拒绝</button>
        </div>
    </div>
</main>
</body>
<script src="../public/js/jquery.js"></script>
<script src="../public/js/bootstrap/bootstrap.min.js"></script>
</html>
